body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.half-to-half{
    width: 50%;
    padding-right: 6%;
}
section{
    display: flex;
    padding-left: 8%;
}
.half-to-half img{
    width: 74%;
    padding-left: 22%;
}

.border-left{
    border-left: 5px solid #FFAD5A;
    font-size: 320%;
}
a{
    text-decoration: none;
    color: white;
    background-color: #FFAD5A;
    padding: 12px 40px;
    border-radius: 7px;
}
span{
    color: #FFAD5A;
}
.pera{
    padding-bottom: 20px;
}
.pera2{
    padding-top: 20px;
}
.mission-headding{
    margin-left: 34%;
    font-size: 200%;
}
.mission-1{
    width: 25%;
    background-color: #EDF5F6;
    border-radius: 35px;
    padding: 40px;
}
.mission-2{
    width: 25%;
    background-color: #FFEEEE;
    border-radius: 35px;
    padding: 40px;
    margin-left: 30px;
}
.mission-3{
    width: 25%;
    background-color: #FFF4D6;
    border-radius: 35px;
    padding: 40px;
    margin-left: 30px;
}
.mission-1 img{
    width: 45%;
}
.mission-2 img{
    width: 45%;
}
.mission-3 img{
    width: 45%;
}
.mission-titel{
    font-size: 20px;
}
.develop-heading{
    font-size: 30px;
}
.half-to-half2{
    width: 50%;
    padding-right: 6%;
}
.half-to-half2 img{
    width: 80%;
    border-radius: 36px;
}
.section-3{
    margin-top: 5%;
}
footer{
    background-color: black;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-top: 85px;
}
footer h1{
    color: white;
    text-align: center;
}

